<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="${entity.title}">Color</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-data sg-color" th:id="${'color-' + entity.uid}">
		<div th:replace="partials/common :: headerboxright (type=#{Color},base='color',entity=${entity},access='COLOR')"></div>
		<h4 class="sg-data-header"><span class="fa fa-tint" th:title="#{Color}"></span> <span class="sg-color-icon" style="background-color: #000;" th:style="'background-color: ' + ${entity.colorCode}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span th:text="${entity.title}">Color</span></h4>

		<!--TODO: show all relation types, files, comments, sources, relations and nodes with this color -->
		<div th:replace="partials/common :: datafooter (entity=${entity})"></div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>