<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:fragment="head">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="apple-touch-icon" href="../../../apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />

	<link rel="stylesheet" href="../../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" href="../../../css/theme.css" th:href="@{/css/theme.css}" />
	<link rel="stylesheet" href="../../../css/font-awesome.css" th:href="@{/css/font-awesome.css}" />
	<link rel="stylesheet" href="../../../css/ol.css" th:href="@{/css/ol.css}" />
	<link rel="stylesheet" href="../../../css/fileinput.min.css" th:href="@{/css/fileinput.min.css}" />
	<link rel="stylesheet" href="../../../css/bootstrap-tagsinput.css" th:href="@{/css/bootstrap-tagsinput.css}" />
	<link rel="stylesheet" href="../../../css/jquery.simplepicker.css" th:href="@{/css/jquery.simplepicker.css}" />
	<link rel="stylesheet" href="../../../css/segrada.css" th:href="@{/css/segrada.css}" />

	<!--/* HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries */-->
	<!--[if lt IE 9]>
	<script src="../../../js/vendor/html5shiv.min.js" th:src="@{/vendor/html5shiv.min.js}" ></script>
	<script src="../../../js/vendor/respond.min.js" th:src="@{/vendor/respond.min.js}"></script>
	<![endif]-->
</head>

<body>
<div th:fragment="browser">
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
</div>

Common fragments.

<h3>Loading</h3>

<span th:fragment="loadingicon" class="sg-loading"><img src="../../../img/loading.gif" alt="" th:src="@{/img/loading.gif}" th:alt-title="#{Loading}" /></span>



<h3>Common header box</h3>

<div th:fragment="headerboxright (type,base,uid)" class="sg-headbox-right">
	<a href="#" type="button" class="close sg-data-close" aria-label="Close" th:title="#{Close}" th:attr="aria-label=#{Close}"><i class="fa fa-times"></i></a>
	<a href="#" th:href="@{/{base}/edit/{uid}(base=${base},uid=${uid})}" type="button" class="sg-data-add sg-data-icon" aria-label="Edit" th:title="#{Edit}" th:attr="aria-label=#{Edit}"><i class="fa fa-pencil"></i></a>
	<span class="sg-headbox-info" th:text="${type}">Type</span>
</div>



<h3>Tag list to show tags</h3>

<div th:fragment="taglist (tags)" th:unless="${#arrays.isEmpty(tags)}" class="sg-data-taglist">
	<span class="label label-info" th:each="tag : ${tags}" th:text="${tag}">Tag</span>
</div>



<h3>Data footer line</h3>

<div th:fragment="datafooter (entity)" class="small text-muted">
	<span th:inline="text">Id: [[${entity.id}]] Version: [[${entity.version}]] [[#{field.createdOn}]] <th:datetimeformat millis="${entity.created}" format="#{datetime}" /></span>
	<span th:if="${entity.creator}" th:inline="text">[[#{field.createdBy}]] [[${entity.creator.name}]]</span>
	<span th:inline="text">[[#{field.modifiedOn}]] <th:datetimeformat millis="${entity.modified}" format="#{datetime}" /></span>
	<span th:if="${entity.modifier}" th:inline="text">[[#{field.modifiedBy}]] [[${entity.modifier.name}]]</span>
</div>



<h3>List of Periods</h3>

<div th:fragment="listperiods (entity)" th:id="${'periods-' + entity.uid}">
	<table class="table table-hover table-striped table-condensed sg-margin-top">
		<tr>
			<th class="col-xs-5" th:text="#{field.fromEntry}">Start</th>
			<th class="col-xs-5" th:text="#{field.toEntry}">Stop</th>
			<th></th>
		</tr>
		<tr th:each="period : ${entity.periods}">
			<td th:text="${!#strings.isEmpty(period.fromEntry)}?${period.fromEntry}:'---'">Start</td>
			<td th:text="${!#strings.isEmpty(period.toEntry)}?${period.toEntry}:'---'">Stop</td>
			<td></td>
		</tr>
	</table>
</div>



<h3>List of Locations</h3>

<div th:fragment="listlocations (entity)" th:id="${'locations-' + entity.uid}">
	<div class="sg-map sg-margin-top" th:id="${'location-map-' + entity.uid}">
	</div>
	<div class="hidden" th:id="${'location-map-' + entity.uid + '-content'}">
		<div th:each="location : ${entity.locations}" th:text="${location.toString()}" th:attr="data-lng=${location.longitude},data-lat=${location.latitude}"></div>
	</div>
</div>




<div th:fragment="footer">
	<script th:inline="javascript">
		/*<![CDATA[*/
		// some default values
		var urlSegradaPictogramSearch = [[@{/pictogram/search?s=}]];
		var urlSegradaPictogramFile = [[@{/pictogram/file/}]];

		var urlSegradaTagSearch = [[@{/tag/search?s=}]];
		var urlSegradaNodeSearch = [[@{/node/search?s=}]];
		var urlSegradaFileSearch = [[@{/file/search?s=}]];
		/*]]>*/
	</script>
	<script src="../../../js/vendor/jquery-1.11.2.min.js" th:src="@{/js/vendor/jquery-1.11.2.min.js}"></script>
	<script src="../../../js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script src="../../../js/vendor/ie10-viewport-bug-workaround.min.js" th:src="@{/js/vendor/ie10-viewport-bug-workaround.min.js}"></script>
	<script src="../../../js/vendor/fileinput.min.js" th:src="@{/js/vendor/fileinput.min.js}"></script>
	<script src="../../../js/vendor/fileinput_locale_en.min.js" th:src="@{'/js/vendor/fileinput_locale_' + ${#locale.language} + '.min.js'}"></script>
	<script src="../../../js/vendor/jquery.form.min.js" th:src="@{/js/vendor/jquery.form.min.js}"></script>
	<script src="../../../js/vendor/typeahead.bundle.min.js" th:src="@{/js/vendor/typeahead.bundle.min.js}"></script>
	<script src="../../../js/vendor/bootstrap-tagsinput.min.js" th:src="@{/js/vendor/bootstrap-tagsinput.min.js}"></script>
	<script src="../../../js/vendor/ol.js" th:src="@{/js/vendor/ol.js}"></script>
	<script src="../../../js/jquery.simplepicker.min.js" th:src="@{/js/jquery.simplepicker.min.js}"></script>
	<script src="../../../js/segrada.min.js" th:src="@{/js/segrada.min.js}"></script>
</div>
</body>
</html>