<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head th:fragment="head">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="apple-touch-icon" href="../../../apple-touch-icon.png" th:href="@{/apple-touch-icon.png}" />

	<link rel="stylesheet" href="../../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" href="../../../css/theme.css" th:href="@{/css/theme.css}" />
	<link rel="stylesheet" href="../../../css/font-awesome.css" th:href="@{/css/font-awesome.css}" />
	<link rel="stylesheet" href="../../../css/leaflet.css" th:href="@{/css/leaflet.css}" />
	<!--/*<link rel="stylesheet" href="../../../css/vis.min.css" th:href="@{/css/vis.min.css}" />*/-->
	<link rel="stylesheet" href="../../../css/fileinput.min.css" th:href="@{/css/fileinput.min.css}" />
	<link rel="stylesheet" href="../../../css/bootstrap-tagsinput.css" th:href="@{/css/bootstrap-tagsinput.css}" />
	<link rel="stylesheet" href="../../../css/jquery.simplepicker.css" th:href="@{/css/jquery.simplepicker.css}" />
	<link rel="stylesheet" href="../../../css/summernote.css" th:href="@{/css/summernote.css}" />
	<link rel="stylesheet" href="../../../css/viewer.min.css" th:href="@{/css/viewer.min.css}" />
	<link rel="stylesheet" href="../../../css/segrada.css" th:href="@{/css/segrada.css}" />
</head>

<body>
Common fragments.

<h3>Loading</h3>

<span th:fragment="loadingicon" class="sg-loading"><img src="../../../img/loading.gif" alt="" th:src="@{/img/loading.gif}" th:alt-title="#{Loading}" /></span>



<h3>Common header box</h3>

<div th:fragment="headerboxright (type,base,entity,access)" class="sg-headbox-right">
	<a href="#" type="button" class="close sg-data-close" aria-label="Close" th:title="#{Close}" th:attr="aria-label=#{Close}"><i class="fa fa-times"></i></a>
	<a th:if="${identity.hasEditAccess(entity, access)}" href="#" th:href="@{/{base}/edit/{uid}(base=${base},uid=${entity.uid})}" type="button" class="sg-data-add sg-data-icon" aria-label="Edit" th:title="#{Edit}" th:attr="aria-label=#{Edit}"><i class="fa fa-pencil-alt"></i></a>
	<a th:if="${identity.hasDeleteAccess(entity, access)}" class="sg-data-icon sg-control-confirm" href="#" th:title="#{Delete}" th:href="@{/{base}/delete/{uid}/0(base=${base},uid=${entity.uid})}" th:attr="data-confirm=${#messages.msg('ReallyDelete', entity.title)}, data-target=${base + '-' + entity.uid}"><i class="fa fa-times-circle"></i></a>
	<a th:if="${expandGraph and graphUrl and identity.hasAccess('GRAPH')}" href="#" th:href="${graphUrl + '?expand=true'}" type="button" class="sg-graph-update sg-data-icon" aria-label="Graph" th:title="#{AddAllToGraph}" th:attr="aria-label=#{AddAllToGraph}"><i class="fa fa-reply-all fa-flip-horizontal"></i></a>
	<a th:if="${graphUrl and identity.hasAccess('GRAPH')}" href="#" th:href="${graphUrl}" type="button" class="sg-graph-update sg-data-icon" aria-label="Graph" th:title="#{AddToGraph}" th:attr="aria-label=#{AddToGraph}"><i class="fa fa-share"></i></a>
	<span class="sg-headbox-info" th:text="${type}">Type</span>
</div>



<h3>Tag list to show tags</h3>

<div th:fragment="taglist (tags)" th:if="${identity.hasAccess('TAG')}" th:unless="${#arrays.isEmpty(tags) and #arrays.isEmpty(prefixTags)}" class="sg-data-taglist">
	<span class="label label-info" th:each="tag : ${prefixTags}"><a href="#" th:href="@{/tag/by_title/{title}(title=${@org.segrada.util.Sluggify@sluggify(tag)})}" th:text="${tag}" class="sg-data-add">Tag</a></span>
	<span class="label label-info" th:each="tag : ${tags}"><a href="#" th:href="@{/tag/by_title/{title}(title=${@org.segrada.util.Sluggify@sluggify(tag)})}" th:text="${tag}" class="sg-data-add">Tag</a></span>


</div>



<h3>Data footer line</h3>

<div th:fragment="datafooter (entity)" class="small text-muted">
	<span th:inline="text">Id: [[${entity.id}]] Version: [[${entity.version}]] [[#{field.createdOn}]] <sg:datetimeformat millis="${entity.created}" format="#{datetime}" /></span>
	<span th:if="${entity.creator}" th:inline="text">[[#{field.createdBy}]] [[${entity.creator.name}]]</span>
	<span th:inline="text">[[#{field.modifiedOn}]] <sg:datetimeformat millis="${entity.modified}" format="#{datetime}" /></span>
	<span th:if="${entity.modifier}" th:inline="text">[[#{field.modifiedBy}]] [[${entity.modifier.name}]]</span>
</div>



<h3>List of Periods</h3>

<div th:fragment="listperiods (entity)" th:id="${'periods-' + entity.uid}" class="sg-periods">
	<table class="table table-hover table-striped table-condensed sg-margin-top">
		<tr>
			<th class="col-xs-3" th:text="#{field.fromEntry}">Start</th>
			<th class="col-xs-3" th:text="#{field.toEntry}">Stop</th>
			<th class="col-xs-5" th:text="#{field.comment}">Comment</th>
			<th></th>
		</tr>
		<tr th:each="myPeriod : ${entity.periods}" th:id="${'sg-period-' + myPeriod.uid}">
			<td th:utext="${@org.segrada.util.FuzzyDateRenderer@renderOrEmpty(myPeriod.fromJD,myPeriod.fromEntry,myPeriod.fromEntryCalendar,myPeriod.fuzzyFromFlags, #messages.msg('period.fuzzyBefore'), #messages.msg('period.fuzzyAfter'))}">Start</td>
			<td th:utext="${@org.segrada.util.FuzzyDateRenderer@renderOrEmpty(myPeriod.toJD,myPeriod.toEntry,myPeriod.toEntryCalendar,myPeriod.fuzzyToFlags, #messages.msg('period.fuzzyBefore'), #messages.msg('period.fuzzyAfter'))}">Stop</td>
			<td th:text="${myPeriod.comment}">Comment</td>
			<td class="text-right">
				<div class="sg-data-icon-bar" role="group" aria-label="Actions">
					<a th:if="${identity.hasEditAccess(myPeriod, 'PERIOD')}" class="sg-data-icon sg-ajax-modal" href="#" th:title="#{Edit}" th:href="@{/period/edit/{uid}(uid=${myPeriod.uid})}" th:attr="data-title=#{modal.Period}"><i class="fa fa-pencil-alt"></i></a>
					<a th:if="${identity.hasDeleteAccess(myPeriod, 'PERIOD')}" class="sg-data-icon" href="#" th:title="#{Delete}" th:href="@{/period/delete/{uid}(uid=${myPeriod.uid})}" th:attr="data-confirm=${#messages.msg('ReallyDelete', myPeriod.title)}"><i class="fa fa-times-circle"></i></a>
				</div>
			</td>
		</tr>
	</table>

	<div class="sg-margin-top-sm" th:if="${identity.hasAccess('PERIOD_ADD')}" th:unless="${period}"><a href="#" class="btn btn-success sg-period-add"><i class="fa fa-plus"></i> <span th:text="#{add.period}">Add period</span></a></div>

	<form th:if="${identity.hasAccess('PERIOD_ADD')}" action="#" th:action="@{/period/add/{model}/{uid}(model=${entity.modelName},uid=${entity.uid})}" method="post" class="sg-margin-top-sm sg-period-form sg-period-form-add" style="display: none;" th:style="${period and isNewEntity}?'':'display:none;'">
		<input type="hidden" name="_csrf" th:value="${_csrf}" />

		<div th:replace="partials/common :: periodform (errors=${errors},period=${period},hidePeriod=${hidePeriod})"></div>
		<div class="row sg-margin-top-sm">
			<div class="col-lg-12">
				<input type="submit" value="Add period" class="btn btn-primary" th:value="#{add.period}" />
			</div>
		</div>
	</form>
</div>


<h4>Period form</h4>

<div th:fragment="periodform (errors,period,hidePeriod)" th:if="${identity.hasAccess('PERIOD_ADD,PERIOD_EDIT,PERIOD_EDIT_MINE')}">
	<div class="row">
		<div class="col-md-3" th:classappend="${errors} and (${errors['fromLowerEqualThanTo']} or ${errors['fromJD']})?'has-error has-feedback'">
			<input name="fromEntry" class="form-control" type="text" placeholder="Start" th:placeholder="#{field.fromEntry}" th:value="${period}?${period.fromEntry}" />
			<span class="help-block" th:if="${errors} and ${errors['fromLowerEqualThanTo']}" th:text="${errors}?(${errors['fromLowerEqualThanTo']}?${#messages.msg(errors['fromLowerEqualThanTo'])})">Error</span>
			<span class="help-block" th:if="${errors} and ${errors['fromJD']}" th:text="${errors}?(${errors['fromJD']}?#{error.calendar.incorrect})">Error</span>
		</div>
		<div class="col-md-2">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="isPeriod" value="1" checked="checked" class="sg-period-form-period" th:checked="${hidePeriod}?false:true" />
					<span th:text="#{field.isPeriod}">Period?</span>
				</label>
			</div>
		</div>
		<div class="col-md-3" th:classappend="${errors} and ${errors['toJD']}?'has-error has-feedback'">
			<div class="sg-period-toggle" th:style="${hidePeriod}?'display: none;'">
				<input name="toEntry" class="form-control" type="text" placeholder="End" th:placeholder="#{field.toEntry}" th:value="${period}?${period.toEntry}" />
				<span class="help-block" th:if="${errors} and ${errors['toJD']}" th:text="${errors}?(${errors['toJD']}?#{error.calendar.incorrect})">Error</span>
			</div>
		</div>
		<div class="col-md-4"><small th:text="#{period.format}" class="text-muted">(Note)</small></div>
	</div>
	<div class="row sg-margin-top-sm">
		<div class="col-md-3">
			<select class="form-control" name="fromEntryCalendar">
				<option value="G" th:text="#{period.calAuto}">Automatic calendar</option>
				<option value="J" th:text="#{period.calJulian}" th:selected="${period} and ${period.fromEntryCalendar} == 'J'">Use Julian calendar</option>
			</select>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-3">
			<select class="form-control sg-period-toggle" name="toEntryCalendar">
				<option value="G" th:text="#{period.calAuto}">Automatic calendar</option>
				<option value="J" th:text="#{period.calJulian}" th:selected="${period} and ${period.toEntryCalendar} == 'J'">Use Julian calendar</option>
			</select>
		</div>
		<div class="col-md-4"><small th:text="#{period.calendarInfo}" class="text-muted">(Calendar System)</small></div>
	</div>
	<div class="row sg-margin-top-sm">
		<div class="col-md-3">
			<label class="checkbox-inline">
				<input type="checkbox" name="fromFuzzyFlagsCa" value="c" th:checked="${period} and ${period.hasFuzzyFromFlag('c')}" /> <span th:text="#{period.fuzzyCa}">ca.</span>
			</label><br />
			<label class="checkbox-inline">
				<input type="checkbox" name="fromFuzzyFlagsUncertain" value="?" th:checked="${period} and ${period.hasFuzzyFromFlag('?')}" /> <span th:text="#{period.fuzzyUncertain}">ca.</span>
			</label><br />
			<label class="checkbox-inline">
				<input type="checkbox" name="fromFuzzyFlagsBefore" value="-" th:checked="${period} and ${period.hasFuzzyFromFlag('-')}" /> <span th:text="#{period.fuzzyBefore}">ca.</span>
			</label><br />
			<label class="checkbox-inline">
				<input type="checkbox" name="fromFuzzyFlagsAfter" value="+" th:checked="${period} and ${period.hasFuzzyFromFlag('+')}" /> <span th:text="#{period.fuzzyAfter}">ca.</span>
			</label>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-3">
			<label class="checkbox-inline">
				<input type="checkbox" name="toFuzzyFlagsCa" value="c" th:checked="${period} and ${period.hasFuzzyToFlag('c')}" /> <span th:text="#{period.fuzzyCa}">ca.</span>
			</label><br />
			<label class="checkbox-inline">
				<input type="checkbox" name="toFuzzyFlagsUncertain" value="?" th:checked="${period} and ${period.hasFuzzyToFlag('?')}" /> <span th:text="#{period.fuzzyUncertain}">ca.</span>
			</label><br />
			<label class="checkbox-inline">
				<input type="checkbox" name="toFuzzyFlagsBefore" value="-" th:checked="${period} and ${period.hasFuzzyToFlag('-')}" /> <span th:text="#{period.fuzzyBefore}">ca.</span>
			</label><br />
			<label class="checkbox-inline">
				<input type="checkbox" name="toFuzzyFlagsAfter" value="+" th:checked="${period} and ${period.hasFuzzyToFlag('+')}" /> <span th:text="#{period.fuzzyAfter}">ca.</span>
			</label>
		</div>
		<div class="col-md-4"><small th:text="#{period.fuzzyInfo}" class="text-muted">(Fuzzy date)</small></div>
	</div>
	<div class="row sg-margin-top-sm">
		<div class="col-lg-8">
			<input class="form-control" name="comment" type="text" value="" placeholder="Comment" th:placeholder="#{field.comment}" th:value="${period}?${period.comment}" />
		</div>
	</div>
</div>



<h3>List of Locations</h3>

<div th:fragment="listlocations (entity)" th:id="${'locations-' + entity.uid}">
	<div class="sg-map sg-margin-top" th:id="${'locations-' + entity.uid + '-map'}">
	</div>
	<div class="hidden" th:replace="partials/common :: listlocationmarkers (entity=${entity})">Markers</div>
	<div class="sg-margin-top-sm" th:if="${identity.hasAccess('LOCATION_ADD')}" th:id="${'locations-' + entity.uid + '-add-location-btn'}">
		<a href="#" class="btn btn-success sg-map-add-marker"><i class="fa fa-plus"></i> <span th:text="#{add.location}">Add location</span></a>
		<span th:text="#{add.location_dblClick}" class="sg-location-dbl-click" th:attr="data-confirm=#{add.location_dblClick_question}">Double click hint</span>
	</div>

	<form th:if="${identity.hasAccess('LOCATION_ADD')}" action="#" th:action="@{/location/add/{model}/{uid}(model=${entity.modelName},uid=${entity.uid})}" method="post" class="sg-margin-top-sm sg-map-form" th:id="${'locations-' + entity.uid + '-form'}" style="display: none;">
		<input type="hidden" name="_csrf" th:value="${_csrf}" />

		<div class="row">
			<div class="col-md-8">
				<input name="formatted_address" class="sg-geocomplete form-control" type="text" placeholder="Type in an address" th:placeholder="#{field.locationAddress}" />
			</div>
		</div>
		<div class="row sg-margin-top-sm">
			<div class="col-md-4">
				<input class="form-control" name="lat" type="text" value="" readonly="readonly" placeholder="Latitude" th:placeholder="#{field.latitude}" />
			</div>
			<div class="col-md-4">
				<input class="form-control" name="lng" type="text" value="" readonly="readonly" placeholder="Longitude" th:placeholder="#{field.longitude}" />
			</div>
		</div>
		<div class="row sg-margin-top-sm">
			<div class="col-lg-8">
				<input class="form-control" name="comment" type="text" value="" placeholder="Comment" th:placeholder="#{field.comment}" />
			</div>
			<div class="col-md-4">
				<input type="submit" value="Add location" class="btn btn-primary" th:value="#{add.location}" style="display: none;" />
			</div>
		</div>
	</form>
</div>

<div th:fragment="listlocationmarkers (entity)" class="hidden" th:if="${entity != null and identity.hasAccess('LOCATION')}" th:id="${'locations-' + entity.uid + '-markers'}">
	<div class="sg-location-marker" th:each="location : ${entity.locations}" th:text="${location.id}" th:attr="data-lng=${location.longitude},data-lat=${location.latitude},data-comment=${location.comment},data-delete-ok=${identity.hasDeleteAccess(location, 'LOCATION')}?'1':'0',data-delete=@{/location/delete/{uid}(uid=${location.uid})},data-id=${'locations-marker-' + location.uid}"></div>
</div>




<h3>Font Awesome Icons</h3>

<span th:fragment="faIcon (modelName)" th:switch="${modelName}">
	<i th:case="'Comment'" th:title="#{Comment}" class="fa fa-comment"></i>
	<i th:case="'File'" th:title="#{File}" class="fa fa-file"></i>
	<i th:case="'Node'" th:title="#{Node}" class="fa fa-dot-circle"></i>
	<i th:case="'Source'" th:title="#{Source}" class="fa fa-briefcase"></i>
	<i th:case="'Relation'" th:title="#{Relation}" class="fa fa-link"></i>
	<i th:case="*" th:text="${modelName}">X</i>
</span>




<div th:fragment="footer">
	<script th:inline="javascript">
		/*<![CDATA[*/
		// some default values
		var urlSegradaBasepath = [[@{/}]];
		var urlSegradaPictogramSearch = [[@{/pictogram/search?s=}]];
		var urlSegradaPictogramFile = [[@{/pictogram/file/}]];

		var urlSegradaTagSearch = [[@{/tag/search?s=}]];
		var urlSegradaNodeSearch = [[@{/node/search?s=}]];
		var urlSegradaFileSearch = [[@{/file/search?s=}]];
		var urlSegradaSourceSearch = [[@{/source/search?s=}]];

		var urlSegradaRelationAdd = [[@{/relation/add?fromEntityUid=XFROMX&amp;toEntityUid=XTOX}]];
		var afterAjaxHooks = [];
		/*]]>*/
	</script>
	<script src="../../../js/vendor/jquery-2.2.4.min.js" th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
	<script src="../../../js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script src="../../../js/vendor/ie10-viewport-bug-workaround.min.js" th:src="@{/js/vendor/ie10-viewport-bug-workaround.min.js}"></script>
	<script src="../../../js/vendor/fileinput.min.js" th:src="@{/js/vendor/fileinput.min.js}"></script>
	<script src="../../../js/vendor/fileinput_locale_en.min.js" th:src="@{'/js/vendor/fileinput_locale_' + ${#locale.language} + '.min.js'}"></script>
	<script src="../../../js/vendor/jquery.form.min.js" th:src="@{/js/vendor/jquery.form.min.js}"></script>
	<script src="../../../js/vendor/typeahead.jquery.min.js" th:src="@{/js/vendor/typeahead.jquery.min.js}"></script>
	<script src="../../../js/vendor/bootstrap-tagsinput.min.js" th:src="@{/js/vendor/bootstrap-tagsinput.min.js}"></script>
	<script src="../../../js/jquery.simplepicker.min.js" th:src="@{/js/jquery.simplepicker.min.js}"></script>
	<!--/* Load Leaflet  */-->
	<script src="../../../js/vendor/leaflet.js" th:src="@{/js/vendor/leaflet.js}"></script>
	<script src="../../../js/vendor/leaflet-providers.min.js" th:src="@{/js/vendor/leaflet-providers.min.js}"></script>
	<script src="../../../js/segrada_leaflet.min.js" th:src="@{/js/segrada_leaflet.min.js}"></script>
	<!--/* Google Geocode API */-->
	<!--/* loaded dynamically using AJAX: <script src="https://maps.google.com/maps/api/js?sensor=false&amp;libraries=places&amp;language=de" th:src="${'https://maps.google.com/maps/api/js?sensor=false&amp;libraries=places&amp;language=' + #locale.language}"></script>*/-->
	<script src="../../../js/vendor/jquery.geocomplete.min.js" th:src="@{/js/vendor/jquery.geocomplete.min.js}"></script>
	<!--/* Vis Graph system */-->
	<script src="../../../js/vendor/vis-network.min.js" th:src="@{/js/vendor/vis-network.min.js}"></script>
	<!--/* HTML Editor */-->
	<script src="../../../js/vendor/summernote.min.js" th:src="@{/js/vendor/summernote.min.js}"></script>
	<script src="../../../js/vendor/summernote-de.js" th:src="@{'/js/vendor/summernote-' + ${#locale.language} + '.js'}" th:unless="${#locale.language.equals('en')}"></script>
	<!--/* Image Viewer */-->
	<script src="../../../js/vendor/viewer.min.js" th:src="@{/js/vendor/viewer.min.js}"></script>
	<script src="../../../js/segrada.min.js" th:src="@{/js/segrada.min.js}"></script>

	<!-- /* Generic modal */-->
	<div id="sg-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Title</h4>
				</div>
				<div class="modal-body">
					<div class="modal-loading"><div th:replace="partials/common :: loadingicon"></div></div>
					<div class="modal-body-inner">Content</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>