<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8" />
	<title>Form fragments</title>
</head>
<body>

<h1>Form elements partials to make life easier</h1>



<h2>Submit button: submit</h2>

<div th:fragment="submit (isNewEntity)" class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-primary" th:text="${isNewEntity}?#{Create}:#{Change}">Create</button>
	</div>
</div>



<h2>Simple text element</h2>

<div th:fragment="formTextfield (name, field, label, id, errors, required)" class="form-group" th:classappend="${errors}?(${#maps.containsKey(errors, name)}?'has-error has-feedback')">
	<label class="col-sm-2 control-label" th:for="${name + '-' + id}"><span th:text="${label}"></span><span class="text-danger" th:if="${required}"> *</span></label>
	<div class="col-sm-10">
		<input type="text" th:id="${name + '-' + id}" th:name="${name}" th:value="${field}" class="form-control" th:placeholder="${label}" />
		<span class="help-block" th:text="${errors}?(${errors[name]}?${#messages.msg(errors[name])})">Error</span>
	</div>
</div>



<h2>Text area</h2>

<div th:fragment="formTextarea (name, field, label, id, rows, errors, required)" class="form-group" th:classappend="${errors}?(${#maps.containsKey(errors, name)}?'has-error has-feedback')">
	<label class="col-sm-2 control-label" th:text="${label}" th:for="${name + '-' + id}">Label</label>
	<div class="col-sm-10">
		<textarea th:id="${name + '-' + id}" th:name="${name}" th:text="${field}" class="form-control" th:rows="${rows}" th:placeholder="${label}"></textarea>
		<span class="help-block" th:text="${errors}?(${errors[name]}?${#messages.msg(errors[name])})">Error</span>
	</div>
</div>



<h2>Text area with markup</h2>

<div th:fragment="formMarkupTextarea (name, field, markupName, markupField, label, id, rows, errors, required)">
	<div class="form-group" th:classappend="${errors}?(${#maps.containsKey(errors, name)}?'has-error has-feedback')">
		<label class="col-sm-2 control-label" th:for="${name + '-' + id}"><span th:text="${label}"></span><span class="text-danger" th:if="${required}"> *</span></label>
		<div class="col-sm-10">
			<textarea th:id="${name + '-' + id}" th:name="${name}" th:text="${field}" class="form-control" th:rows="${rows}" th:placeholder="${label}"></textarea>
			<span class="help-block" th:text="${errors}?(${errors[name]}?${#messages.msg(errors[name])})">Error</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<div class="radio-inline">
				<label>
					<input type="radio" th:id="${markupName + '-' + id + '_default'}" th:name="${markupName}" value="default" th:checked="${#strings.equals('default', markupField)}">
					Text
				</label>
			</div>
			<div class="radio-inline">
				<label>
					<input type="radio" th:id="${markupName + '-' + id + '_html'}" th:name="${markupName}" value="html" th:checked="${#strings.equals('html', markupField)}">
					HTML
				</label>
			</div>
		</div>
	</div>
</div>



<h2>Checkbox</h2>

<div th:fragment="formCheckbox (name, field, label, id, errors, required)" class="form-group" th:classappend="${errors}?(${#maps.containsKey(errors, name)}?'has-error has-feedback')">
	<div class="col-sm-10 col-md-offset-2">
		<label th:for="${name + '-' + id}">
			<input th:unless="${noHiddenField}" th:name="${name}" type="hidden" value="0" />
			<input th:id="${name + '-' + id}" th:name="${name}" type="checkbox" th:checked="${field}?true" value="1" /> <span th:text="${label}"></span><span class="text-danger" th:if="${required}"> *</span>
		</label>

		<span class="help-block" th:text="${errors}?(${errors[name]}?${#messages.msg(errors[name])})">Error</span>
	</div>
</div>



<h2>Pictogram chooser</h2>

<h3>Form part</h3>

<div th:fragment="formPictogram (name, field, label, id, errors, required)" class="form-group" th:classappend="${errors}?(${#maps.containsKey(errors, name)}?'has-error has-feedback')">
	<label class="col-sm-2 control-label" th:for="${name + '-' + id}"><span th:text="${label}"></span><span class="text-danger" th:if="${required}"> *</span></label>
	<div class="col-sm-10">
		<div class="row">
			<div class="col-sm-3">
				<a href="#" class="btn btn-default btn-sm sg-pictogram-chooser" th:attr="data-id=${name + '-' + id}" th:text="#{field.select_pictogram}">Select Pictogram</a>
			</div>
			<div class="col-sm-5">
				<div th:id="${'preview-' + name + '-' + id}" class="small">
								<span th:if="${field}" th:inline="text">
									<img src="#" th:src="@{/pictogram/file/{id}(id=${field.uid})}" alt="" th:alt-title="${field.title}" width="24" height="24" />
									[[${field.title}]]
								</span>
				</div>
			</div>
			<div class="col-sm-4 text-right">
				<a href="#" class="btn btn-danger btn-sm sg-pictogram-clearer" th:classappend="${field}?'':'sg-dynamic-hide'" th:id="${'clear-' + name + '-' + id}" th:attr="data-id=${name + '-' + id}" th:text="#{field.clear_pictogram}">Clear Pictogram</a>
			</div>
		</div>
		<input type="hidden" th:id="${'value-' + name + '-' + id}" th:name="${name}" th:value="${field}?${field.id}" />
		<span class="help-block" th:text="${errors}?(${errors[name]}?${#messages.msg(errors[name])})">Error</span>
	</div>
</div>

<h3>Add this below form</h3>

<!--// Modal for choosing the pictogram //-->
<div th:fragment="formPictogramModal (name, id)" class="modal fade sg-pictogram-modal" id="pictogram-xxx" th:id="${name + '-' + id}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" th:text="#{modal.Pictogram}">Choose Pictogram</h4>
			</div>
			<div class="modal-body">
				<form action="#">
					<label th:text="#{Filter}">Filter:</label> <input type="text" class="form-control" th:id="${'filter-' + name + '-' + id}"/>
				</form>
				<div class="pictogram-container" th:id="${'container-' + name + '-' + id}">
					<!--// js will add stuff here //-->
				</div>
			</div>
		</div>
	</div>
</div>



<h2>Color selector (using JS)</h2>

<div th:fragment="formColorSelect (colors, name, field, label, id, errors, required)" class="form-group" th:classappend="${errors}?(${#maps.containsKey(errors, name)}?'has-error has-feedback')">
	<label class="col-sm-2 control-label" th:for="${name + '-' + id}"><span th:text="${label}"></span><span class="text-danger" th:if="${required}"> *</span></label>
	<div class="col-sm-10">
		<select th:id="${name + '-' + id}" th:name="${name}" class="form-control sg-colorpicker">
			<option value="#ffffffff">----</option>
			<option th:each="color : ${colors}" th:text="${color.getTitle()}" th:value="${color.getColorCode()}" th:selected="${color.getColor()==field}">Color</option>
		</select>
		<span class="help-block" th:text="${errors}?(${errors[name]}?${#messages.msg(errors[name])})">Error</span>
	</div>
</div>



<h2>Tags field</h2>

<div th:fragment="formTagsfield (name, field, label, id, errors, required)" class="form-group" th:classappend="${errors}?(${#maps.containsKey(errors, name)}?'has-error has-feedback')">
	<label class="col-sm-2 control-label" th:for="${name + '-' + id}"><span th:text="${label}"></span><span class="text-danger" th:if="${required}"> *</span></label>
	<div class="col-sm-10">
		<input type="hidden" name="clearTags" th:value="${name}" /><!--//make sure to clear tags when empty//-->
		<select multiple="multiple" type="text" th:id="${name + '-' + id}" th:name="${name}" class="sg-tags">
			<option th:each="tag : ${field}" selected="" th:value="${tag}" th:text="${tag}">Tag</option>
		</select>
		<span class="help-block"><small th:text="#{form.tags.hint}">Help text</small></span>
		<span class="help-block" th:text="${errors}?(${errors[name]}?${#messages.msg(errors[name])})">Error</span>
	</div>
</div>



<h2>Selector for Nodes in relations</h2>

<div th:fragment="formNodefield (name, field, label, id, errors, required, direction, selectReference)" class="form-group" th:classappend="${errors}?(${#maps.containsKey(errors, name)}?'has-error has-feedback')">
	<label class="col-sm-2 control-label" th:for="${name + '-' + id}"><span th:text="${label}"></span><span class="text-danger" th:if="${required}"> *</span></label>
	<div class="col-sm-10">
		<input type="text" th:id="${name + '-' + id + '-select'}" th:name="${name + 'Name'}" th:value="${field}?${field.title}" class="form-control sg-node-search" th:placeholder="${label}" th:attr="data-id=${name + '-' + id},data-attr=${'data-tags-' + direction},data-select-id=${selectReference}" />
		<input type="hidden" th:id="${name + '-' + id}" th:name="${name}" th:value="${field}?${field.id}" />
		<span class="help-block" th:unless="${errors}"><small th:text="#{form.typeahead.hint}"></small></span>
		<span class="help-block" th:text="${errors}?(${errors[name]}?${#messages.msg(errors[name])})">Error</span>
	</div>
</div>



</body>
</html>