<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Segrada</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="apple-touch-icon" href="../static/apple-touch-icon.png" />

	<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
	<link rel="stylesheet" href="../static/css/theme.css" th:href="@{/css/theme.css}" />
	<link rel="stylesheet" href="../static/css/segrada.css" th:href="@{/css/segrada.css}" />

	<!--/* HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries */-->
	<!--[if lt IE 9]>
	<script src="../static/js/vendor/html5shiv.min.js" th:src="@{/vendor/html5shiv.min.js}" ></script>
	<script src="../static/js/vendor/respond.min.js" th:src="@{/vendor/respond.min.js}"></script>
	<![endif]-->
</head>

<body>

<div id="sg-nav" th:fragment="navigation">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sg-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!--/*<a class="navbar-brand" href="#">Segrada</a>*/-->
		</div>

		<div class="collapse navbar-collapse" id="sg-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a id="sg-close-all" href="#" th:title="#{nav.close_all}"><span class="fa fa-times-circle" aria-hidden="true"></span> <span class="hidden-md hidden-lg hidden-sm" th:text="#{nav.close_all}"></span></a></li>
				<li class="dropdown">
					<a href="#" th:title="#{nav.list}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-list" aria-hidden="true"></span> <span class="hidden-md hidden-lg hidden-sm" th:text="#{nav.list}"></span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="sg-control-set" href="#" th:href="@{/node}" th:inline="text"><span class="fa fa-dot-circle-o"></span> [[#{Nodes}]]</a></li>
						<!--<li><a class="sg-data-add" href="#" th:href="@{/comment}" th:inline="text"><span class="fa fa-comment"></span> [[#{Comments}]]</a></li>-->
						<li><a class="sg-control-set" href="#" th:href="@{/source}"  th:inline="text"><span class="fa fa-briefcase"></span> [[#{Sources}]]</a></li>
						<li><a class="sg-control-set" href="#" th:href="@{/file}" th:inline="text"><span class="fa fa-file"></span> [[#{Files}]]</a></li>
						<li class="divider"></li>
						<li><a class="sg-control-set" href="#" th:href="@{/relation}" th:inline="text"><span class="fa fa-chain"></span> [[#{Relations}]]</a></li>
						<li><a class="sg-control-set" href="#" th:href="@{/relation_type}" th:inline="text"><span class="fa fa-paperclip"></span> [[#{Relation_Types}]]</a></li>
						<li class="divider"></li>
						<li><a class="sg-control-set" href="#" th:href="@{/pictogram}" th:inline="text"><span class="fa fa-university"></span> [[#{Pictograms}]]</a></li>
						<li><a class="sg-control-set" href="#" th:href="@{/tag}" th:inline="text"><span class="fa fa-tag"></span> [[#{Tags}]]</a></li>
						<li><a class="sg-control-set" href="#" th:href="@{/color}" th:inline="text"><span class="fa fa-tint"></span> [[#{Colors}]]</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" th:title="#{nav.add}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-plus-square" aria-hidden="true"></span> <span class="hidden-md hidden-lg hidden-sm" th:text="#{nav.new}"></span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="sg-data-add" href="#" th:href="@{/node/add}" th:inline="text"><span class="fa fa-dot-circle-o"></span> [[#{Node}]]</a></li>
						<!--<li><a class="sg-data-add" href="#" th:href="@{/comment/add}" th:inline="text"><span class="fa fa-comment"></span> [[#{Comment}]]</a></li>-->
						<li><a class="sg-data-add" href="#" th:href="@{/source/add}"  th:inline="text"><span class="fa fa-briefcase"></span> [[#{Source}]]</a></li>
						<li><a class="sg-data-add" href="#" th:href="@{/file/add}" th:inline="text"><span class="fa fa-file"></span> [[#{File}]]</a></li>
						<li class="divider"></li>
						<li><a class="sg-data-add" href="#" th:href="@{/relation/add}" th:inline="text"><span class="fa fa-chain"></span> [[#{Relation}]]</a></li>
						<li><a class="sg-data-add" href="#" th:href="@{/relation_type/add}" th:inline="text"><span class="fa fa-paperclip"></span> [[#{Relation_Type}]]</a></li>
						<li class="divider"></li>
						<li><a class="sg-data-add" href="#" th:href="@{/pictogram/add}" th:inline="text"><span class="fa fa-university"></span> [[#{Pictogram}]]</a></li>
						<li><a class="sg-data-add" href="#" th:href="@{/tag/add}" th:inline="text"><span class="fa fa-tag"></span> [[#{Tag}]]</a></li>
						<li><a class="sg-data-add" href="#" th:href="@{/color/add}" th:inline="text"><span class="fa fa-tint"></span> [[#{Color}]]</a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-left sg-control-form" role="search" action="#" th:action="@{/search/}" method="get">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" th:placeholder="#{Search}" name="s" />
				</div>
				<button type="submit" class="btn btn-default"><span class="fa fa-search" th:title="#{Submit}"></span></button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" th:title="#{nav.languages}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-flag" aria-hidden="true"></span> <span class="hidden-md hidden-lg hidden-sm" th:text="#{nav.languages}"></span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">DE</a></li>
						<li><a href="#">EN</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" th:title="#{nav.settings}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-cog" aria-hidden="true"></span> <span class="hidden-md hidden-lg hidden-sm" th:text="#{nav.settings}"></span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="sg-control-set" href="#" th:href="@{/admin/reindex}" th:inline="text">TODO [[#{Reindex}]]</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</div>

<script src="../static/js/vendor/jquery-1.11.2.min.js" th:src="@{/js/vendor/jquery-1.11.2.min.js}"></script>
<script src="../static/js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script src="../static/js/vendor/ie10-viewport-bug-workaround.min.js" th:src="@{/js/vendor/ie10-viewport-bug-workaround.min.js}"></script>
<script src="../static/js/segrada.min.js" th:src="@{/js/segrada.min.js}"></script>
</body>
</html>