<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="${entity.title}">Node</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-data sg-node" th:id="${'node-' + entity.uid}">
		<div th:replace="partials/common :: headerboxright (type=#{Node},base='node',entity=${entity},graphUrl=@{/node/graph/{uid}(uid=${entity.uid})},access='NODE')"></div>
		<div th:replace="partials/common :: taglist (tags=${entity.tags})"></div>
		<h4 class="sg-data-header">
			<span class="fa fa-dot-circle-o" th:title="#{Node}"></span>
			<span class="sg-color-icon" th:style="'background-color: ' + ${entity.colorCode}" th:if="${entity.color}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<img src="#" th:src="@{/pictogram/file/{uid}(uid=${entity.pictogram.uid})}" th:alt-title="${entity.pictogram.title}" alt="" width="24" height="24" th:if="${entity.pictogram}"/>
			<span th:text="${entity.title}">Node</span>
			<small th:if="${identity.hasAccess('PERIOD')}" th:utext="${@org.segrada.util.FuzzyDateRenderer@renderFromTo(entity.minJD,entity.minEntry,entity.minEntryCalendar,entity.fuzzyMinFlags, entity.maxJD,entity.maxEntry,entity.maxEntryCalendar,entity.fuzzyMaxFlags)}">0000 &ndash; 9999</small>
		</h4>

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#tab1" th:href="${'#tab-1-' + entity.uid}" aria-controls="home" role="tab" data-toggle="tab" th:text="#{Description}">Description</a></li>
			<li role="presentation" th:if="${identity.hasAccess('PERIOD')}"><a href="#tab-periods" class="sg-periodtab" th:href="${'#periods-' + entity.uid}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Instants_Periods}">Instants/Periods</a></li>
			<li role="presentation" th:if="${identity.hasAccess('LOCATION')}"><a href="#tab-map" class="sg-geotab" th:attr="data-locations-id=${'locations-' + entity.uid}" th:href="${'#tab-3-' + entity.uid}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Geo_Locations}">Geo Locations</a></li>
			<li role="presentation" th:if="${identity.hasAccess('RELATION')}"><a href="#tab-relations" class="sg-replace-content" th:attr="data-url=@{/relation/by_node/{uid}(uid=${entity.uid})}" th:href="${'#relations-by-node-' + entity.uid}" aria-controls="relations" role="tab" data-toggle="tab" th:text="#{Relations}">Relations</a></li>
			<li role="presentation" th:if="${identity.hasAccess('SOURCE_REFERENCE')}"><a href="#tab-source-ref" class="sg-replace-content" th:attr="data-url=@{/source_reference/by_reference/node/{uid}(uid=${entity.uid})}" th:href="${'#sources-by-ref-' + entity.uid}" aria-controls="sources" role="tab" data-toggle="tab" th:text="#{Sources}">Sources</a></li>
			<li role="presentation" th:if="${identity.hasAccess('FILE')}"><a href="#tab-ref-files" class="sg-replace-content" th:attr="data-url=@{/file/by_reference/node/{uid}(uid=${entity.uid})}" th:href="${'#files-by-ref-' + entity.uid}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Files}">Files</a></li>
			<!--/*<li role="presentation"><a href="#tab7" th:href="${'#tab-5-' + entity.uid}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Comments}">Comments</a></li>*/-->
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tab1" th:id="${'tab-1-' + entity.uid}">
				<div class="sg-description well well-sm" th:unless="${#strings.isEmpty(entity.description)}"><th:markup text="${entity.description}" markup="${entity.descriptionMarkup}" /></div>

				<div th:replace="partials/common :: datafooter (entity=${entity})"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="tab-periods" th:id="${'periods-' + entity.uid}" th:if="${identity.hasAccess('PERIOD')}">
				<div th:replace="partials/common :: listperiods (entity=${entity})"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="tab-map" th:id="${'tab-3-' + entity.uid}" th:if="${identity.hasAccess('LOCATION')}">
				<div th:replace="partials/common :: listlocations (entity=${entity})"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="tab-relations" th:id="${'relations-by-node-' + entity.uid}" th:if="${identity.hasAccess('RELATION')}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="tab-source-ref" th:id="${'sources-by-ref-' + entity.uid}" th:if="${identity.hasAccess('SOURCE_REFERENCE')}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="tab-ref-files" th:id="${'files-by-ref-' + entity.uid}" th:if="${identity.hasAccess('FILE')}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
			<!--/*<div role="tabpanel" class="tab-pane" id="tab5" th:id="${'tab-5-' + entity.uid}">
				Comments
			</div>*/-->
		</div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>