<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="#{add.tag}">Create New Node</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-data sg-closeable sg-tag" th:with="tempId=${#strings.randomAlphanumeric(10)}" th:id="${'form-' + tempId}">
		<h4 class="sg-data-header" th:text="#{add.tag}" th:if="${isNewEntity}">Create New</h4>
		<h4 class="sg-data-header" th:text="#{ChangeTitle(#{Tag}, ${entity.title})}" th:unless="${isNewEntity}">Change Existing</h4>

		<form method="post" action="#" th:action="@{/tag/update}" th:object="${entity}" class="form-horizontal sg-data-form sg-data-content" th:attr="data-id=${'form-' + tempId}">

			<div th:replace="partials/form :: formTextfield (name='title',field=${entity.title},label=#{field.title},id=${tempId},errors=${errors},required=true)"></div>

			<input type="hidden" name="id" th:value="${entity.id}" th:if="${entity.id}" />

			<div th:replace="partials/form :: submit (isNewEntity=isNewEntity)"></div>
		</form>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>