<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="${entity.title}">Tag</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-data sg-tag" th:id="${'tag-' + entity.uid}">
		<div th:replace="partials/common :: headerboxright (type=#{Tag},base='tag',uid=${entity.uid})"></div>
		<div th:replace="partials/common :: taglist (tags=${entity.tags})"></div>
		<h4 class="sg-data-header"><span class="fa fa-tag" th:title="#{Tag}"></span> <span th:text="${entity.title}">Tag</span></h4>

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#tab1" th:href="${'#tab-1-' + entity.uid}" aria-controls="home" role="tab" data-toggle="tab" th:text="#{Hierarchy}">Hierarchy</a></li>
			<li role="presentation"><a href="#node-ref" class="sg-replace-content" th:attr="data-url=@{/node/by_tag/{uid}(uid=${entity.uid})}" th:href="${'#refs-by-tag-' + entity.uid + '-node'}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Nodes}">Nodes</a></li>
			<li role="presentation"><a href="#relation-ref" class="sg-replace-content" th:attr="data-url=@{/tag/by_tag/{uid}/relation(uid=${entity.uid})}" th:href="${'#refs-by-tag-' + entity.uid + '-relation'}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Relations}">Relations</a></li>
			<li role="presentation"><a href="#source-ref" class="sg-replace-content" th:attr="data-url=@{/tag/by_tag/{uid}/source(uid=${entity.uid})}" th:href="${'#refs-by-tag-' + entity.uid + '-source'}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Sources}">Sources</a></li>
			<li role="presentation"><a href="#file-ref" class="sg-replace-content" th:attr="data-url=@{/tag/by_tag/{uid}/file(uid=${entity.uid})}" th:href="${'#refs-by-tag-' + entity.uid + '-file'}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Files}">Files</a></li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tab1" th:id="${'tab-1-' + entity.uid}" >
				<div class="sg-tag-hierarchy">
					<div class="sg-margin-bottom sg-stop-flow sg-child-tags" th:unless="${#lists.isEmpty(childTags)}">
						<div class="sg-margin-top" th:text="#{field.childTags}">Child tags:</div>

						<div th:replace="partials/common :: taglist (tags=${childTags})"></div>
					</div>
					<div class="hidden sg-tag-hierarchy-data" th:attr="data-center=${entity.uid}"><!--/*List for JS hierarchy*/-->
						<div th:text="${entity.title}" data-level="1" th:attr="data-id=${entity.uid},data-url=@{/tag/show/{uid}(uid=${entity.uid})}">Myself</div>
						<div th:unless="${#arrays.isEmpty(entity.tags)}" th:each="tag : ${entity.tags}" th:text="${tag}" data-level="0" th:with="slug=${@org.segrada.util.Sluggify@sluggify(tag)}" th:attr="data-id=${slug},data-url=@{/tag/by_title/{title}(title=${slug})}">Tag Title</div>
						<div th:unless="${#arrays.isEmpty(childTags)}" th:each="tag : ${childTags}" th:text="${tag}" data-level="2" th:with="slug=${@org.segrada.util.Sluggify@sluggify(tag)}" th:attr="data-id=${slug},data-url=@{/tag/by_title/{title}(title=${slug})}">Tag Title</div>
					</div>
					<div class="sg-tag-hierarchy-graph"></div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="node-ref" th:id="${'refs-by-tag-' + entity.uid + '-node'}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="relation-ref" th:id="${'refs-by-tag-' + entity.uid + '-relation'}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="source-ref" th:id="${'refs-by-tag-' + entity.uid + '-source'}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="file-ref" th:id="${'refs-by-tag-' + entity.uid + '-file'}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
		</div>

		<div th:replace="partials/common :: datafooter (entity=${entity})"></div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>