<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="${entity.title}">Tag</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-data sg-tag" th:id="${'tag-' + entity.uid}">
		<div th:replace="partials/common :: headerboxright (type=#{Tag},base='tag',uid=${entity.uid})"></div>
		<h4 class="sg-data-header"><span class="fa fa-tag" th:title="#{Tag}"></span> <span th:text="${entity.title}">Tag</span></h4>

		<!--TODO: show all entities connected to this tag -->
		<!--TODO: connect to new entity -->
		<!--TODO: connect to parent -->

		<!--TODO: visual view of tag hierarchy -->
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>