<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="${entity.shortTitle}">Source</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-data sg-source" th:id="${'source-' + entity.uid}">
		<div th:replace="partials/common :: headerboxright (type=#{Source},base='source',uid=${entity.uid})"></div>
		<div th:replace="partials/common :: taglist (tags=${entity.tags})"></div>
		<h4 class="sg-data-header">
			<span class="fa fa-briefcase" th:title="#{Source}"></span>
			<span class="sg-color-icon" th:style="'background-color: ' + ${entity.colorCode}" th:if="${entity.color}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<img src="#" th:src="@{/pictogram/file/{uid}(uid=${entity.pictogram.uid})}" th:alt-title="${entity.pictogram.title}" alt="" width="24" height="24" th:if="${entity.pictogram}"/>
			<span th:text="${entity.shortTitle}">Source</span>
		</h4>

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#tab1" th:href="${'#tab-1-' + entity.uid}" aria-controls="home" role="tab" data-toggle="tab" th:text="#{Description}">Description</a></li>
		</ul>

		<div class="tab-content">
			<div class="sg-source-data sg-margin-top">
				<div class="row">
					<div class="col-xs-2"><strong th:text="#{field.shortRef}">Reference</strong></div>
					<div class="col-xs-10"><code th:text="${entity.shortRef}">[ref]</code></div>
				</div>
				<div class="row">
					<div class="col-xs-2"><strong th:text="#{field.title}">Title</strong></div>
					<div class="col-xs-10" th:text="${entity.title}">Title</div>
				</div>
				<div class="row" th:unless="${#strings.isEmpty(entity.citation)}">
					<div class="col-xs-2"><strong th:text="#{field.citation}">Citation</strong></div>
					<div class="col-xs-10" th:text="${entity.citation}">citation</div>
				</div>
				<div class="row" th:unless="${#strings.isEmpty(entity.author)}">
					<div class="col-xs-2"><strong th:text="#{field.author}">Author</strong></div>
					<div class="col-xs-10" th:text="${entity.author}">author</div>
				</div>
				<div class="row" th:unless="${#strings.isEmpty(entity.url)}">
					<div class="col-xs-2"><strong th:text="#{field.url}">URL</strong></div>
					<div class="col-xs-10"><a th:text="${entity.url}" th:href="${entity.url}" class="sg-link-external">url</a></div>
				</div>
				<div class="row" th:unless="${#strings.isEmpty(entity.productCode)}">
					<div class="col-xs-2"><strong th:text="#{field.productCode}">Product code</strong></div>
					<div class="col-xs-10" th:text="${entity.productCode}">productCode</div>
				</div>
				<div class="row" th:unless="${#strings.isEmpty(entity.copyright)}">
					<div class="col-xs-2"><strong th:text="#{field.copyright}">Copyright</strong></div>
					<div class="col-xs-10" th:text="${entity.copyright}">copyright</div>
				</div>
			</div>


			<div role="tabpanel" class="tab-pane active" id="tab1" th:id="${'tab-1-' + entity.uid}" >
				<div class="sg-description well well-sm" th:unless="${#strings.isEmpty(entity.description)}"><th:markup text="${entity.description}" markup="${entity.descriptionMarkup}" /></div>

				<div th:replace="partials/common :: datafooter (entity=${entity})"></div>
			</div>
		</div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>