<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="${entity.shortTitle}">Source</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>

<div class="container">
	<div class="sg-data sg-source" th:id="${'source-' + entity.uid}">
		<div th:replace="partials/common :: headerboxright (type=#{Source},base='source',entity=${entity},access='SOURCE')"></div>
		<div th:replace="partials/common :: taglist (tags=${entity.tags})"></div>
		<h4 class="sg-data-header">
			<span class="fa fa-briefcase" th:title="#{Source}"></span>
			<span class="sg-color-icon" th:style="'background-color: ' + ${entity.colorCode}" th:if="${entity.color}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<img src="#" th:src="@{/pictogram/file/{uid}(uid=${entity.pictogram.uid})}" th:alt-title="${entity.pictogram.title}" alt="" width="24" height="24" th:if="${entity.pictogram}"/>
			<span th:text="${entity.shortTitle}">Source</span>
			<small th:if="${identity.hasAccess('PERIOD')}" th:utext="${@org.segrada.util.FuzzyDateRenderer@renderFromTo(entity.minJD,entity.minEntry,entity.minEntryCalendar,entity.fuzzyMinFlags, entity.maxJD,entity.maxEntry,entity.maxEntryCalendar,entity.fuzzyMaxFlags, #messages.msg('period.fuzzyBefore'), #messages.msg('period.fuzzyAfter'))}">0000 &ndash; 9999</small>
		</h4>

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#tab1" th:href="${'#tab-1-' + entity.uid}" aria-controls="home" role="tab" data-toggle="tab" th:text="#{Description}">Description</a></li>
			<li role="presentation" th:if="${identity.hasAccess('PERIOD')}"><a href="#tab-periods" class="sg-periodtab" th:href="${'#periods-' + entity.uid}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Instants_Periods}">Instants/Periods</a></li>
			<!-- TODO: make this work once maps function properly
			<li role="presentation" th:if="${identity.hasAccess('LOCATION')}"><a href="#tab-map" class="sg-geotab" th:attr="data-locations-id=${'locations-' + entity.uid}" th:href="${'#tab-3-' + entity.uid}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Geo_Locations}">Geo Locations</a></li>-->
			<li th:if="${identity.hasAccess('NODE,RELATION')}" role="presentation"><a href="#tab-source-ref" class="sg-replace-content" th:attr="data-url=@{/source_reference/by_source/{uid}(uid=${entity.uid})}" th:href="${'#references-by-ref-' + entity.uid}" aria-controls="references" role="tab" data-toggle="tab" th:text="#{References}">References</a></li>
			<li th:if="${identity.hasAccess('FILE')}" role="presentation"><a href="#tab-ref-files" class="sg-replace-content" th:attr="data-url=@{/file/by_reference/source/{uid}(uid=${entity.uid})}" th:href="${'#files-by-ref-' + entity.uid}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Files}">Files</a></li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tab1" th:id="${'tab-1-' + entity.uid}" >
				<div class="sg-source-data sg-margin-top">
					<div class="row">
						<div class="col-xs-2"><strong th:text="#{field.shortRef}">Reference</strong></div>
						<div class="col-xs-10"><code th:text="${entity.shortRef}">[ref]</code></div>
					</div>
					<div class="row">
						<div class="col-xs-2"><strong th:text="#{field.title}">Title</strong></div>
						<div class="col-xs-10" th:text="${entity.title}">Title</div>
					</div>
					<div class="row" th:unless="${#strings.isEmpty(entity.sourceType)}">
						<div class="col-xs-2"><strong th:text="#{field.sourceType}">Source Type</strong></div>
						<div class="col-xs-10" th:text="${entity.sourceType}">sourceType</div>
					</div>
					<div class="row" th:unless="${#strings.isEmpty(entity.citation)}">
						<div class="col-xs-2"><strong th:text="#{field.citation}">Citation</strong></div>
						<div class="col-xs-10" th:text="${entity.citation}">citation</div>
					</div>
					<div class="row" th:unless="${#strings.isEmpty(entity.author)}">
						<div class="col-xs-2"><strong th:text="#{field.author}">Author</strong></div>
						<div class="col-xs-10" th:text="${entity.author}">author</div>
					</div>
					<div class="row" th:unless="${#strings.isEmpty(entity.url)}">
						<div class="col-xs-2"><strong th:text="#{field.url}">URL</strong></div>
						<div class="col-xs-10"><a th:text="${entity.url}" th:href="${entity.url}" class="sg-link-external">url</a></div>
					</div>
					<div class="row" th:unless="${#strings.isEmpty(entity.productCode)}">
						<div class="col-xs-2"><strong th:text="#{field.productCode}">Product code</strong></div>
						<div class="col-xs-10" th:text="${entity.productCode}">productCode</div>
					</div>
					<div class="row" th:unless="${#strings.isEmpty(entity.copyright)}">
						<div class="col-xs-2"><strong th:text="#{field.copyright}">Copyright</strong></div>
						<div class="col-xs-10" th:text="${entity.copyright}">copyright</div>
					</div>
				</div>

				<div class="sg-description well well-sm" th:unless="${#strings.isEmpty(entity.description)}"><sg:markup text="${entity.description}" markup="${entity.descriptionMarkup}" /></div>

				<div th:if="${pdfFile and identity.hasAccess('FILE')}">
					<div th:replace="partials/search :: withinFile (file=${pdfFile}, uid=${entity.uid})"></div>

					<div class="sg-margin-top sg-margin-bottom">
						<iframe src="../../../js/pdfjs/web/viewer.html" th:src="@{/js/pdfjs/web/viewer.html(file=@{/file/get/{uid}(uid=${pdfFile.uid})})}" width="100%" height="400"></iframe>
					</div>
				</div>

				<div th:replace="partials/common :: datafooter (entity=${entity})"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="tab-periods" th:id="${'periods-' + entity.uid}" th:if="${identity.hasAccess('PERIOD')}">
				<div th:replace="partials/common :: listperiods (entity=${entity})"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="tab-map" th:id="${'tab-3-' + entity.uid}" th:if="${identity.hasAccess('LOCATION')}">
				<div th:replace="partials/common :: listlocations (entity=${entity})"></div>
			</div>
			<div th:if="${identity.hasAccess('NODE,RELATION')}" role="tabpanel" class="tab-pane" id="tab-source-ref" th:id="${'references-by-ref-' + entity.uid}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
			<div th:if="${identity.hasAccess('FILE')}" role="tabpanel" class="tab-pane" id="tab-ref-files" th:id="${'files-by-ref-' + entity.uid}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
		</div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>