<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="${entity.title}">File</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-data sg-pictogram" th:id="${'file-' + entity.uid}">
		<div th:replace="partials/common :: headerboxright (type=#{File},base='file',entity=${entity},access='FILE')"></div>
		<div th:replace="partials/common :: taglist (tags=${entity.tags})"></div>
		<h4 class="sg-data-header">
			<span class="fa fa-file" th:title="#{File}"></span>
			<span class="sg-color-icon" th:style="'background-color: ' + ${entity.colorCode}" th:if="${entity.color}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<img src="#" th:src="@{/pictogram/file/{uid}(uid=${entity.pictogram.uid})}" th:alt-title="${entity.pictogram.title}" alt="" width="24" height="24" th:if="${entity.pictogram}"/>
			<span th:text="${entity.title}">File</span>
		</h4>

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#tab1" th:href="${'#tab-1-' + entity.uid}" aria-controls="home" role="tab" data-toggle="tab" th:text="#{Description}">Description</a></li>
			<li role="presentation" th:if="${identity.hasAccess('NODE')}"><a href="#node-ref" class="sg-replace-content" th:attr="data-url=@{/file/by_file/{uid}/node(uid=${entity.uid})}" th:href="${'#refs-by-file-' + entity.uid + '-node'}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Nodes}">Nodes</a></li>
			<li role="presentation" th:if="${identity.hasAccess('NODE,RELATION')}"><a href="#relation-ref" class="sg-replace-content" th:attr="data-url=@{/file/by_file/{uid}/relation(uid=${entity.uid})}" th:href="${'#refs-by-file-' + entity.uid + '-relation'}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Relations}">Relations</a></li>
			<li role="presentation" th:if="${identity.hasAccess('SOURCE')}"><a href="#source-ref" class="sg-replace-content" th:attr="data-url=@{/file/by_file/{uid}/source(uid=${entity.uid})}" th:href="${'#refs-by-file-' + entity.uid + '-source'}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Sources}">Sources</a></li>
			<li role="presentation" th:if="${identity.hasAccess('SOURCE_REFERENCE')}"><a href="#source-rel-ref" class="sg-replace-content" th:attr="data-url=@{/source_reference/by_reference/file/{uid}(uid=${entity.uid})}" th:href="${'#sources-by-ref-' + entity.uid}" aria-controls="sources" role="tab" data-toggle="tab" th:text="#{SourceReferences}">Source References</a></li>
			<li role="presentation"><a href="#file-ref" class="sg-replace-content" th:attr="data-url=@{/file/by_reference/file/{uid}(uid=${entity.uid})}" th:href="${'#files-by-ref-' + entity.uid}" aria-controls="times" role="tab" data-toggle="tab" th:text="#{Files}">Files</a></li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="tab1" th:id="${'tab-1-' + entity.uid}" >
				<div class="sg-description well well-sm" th:unless="${#strings.isEmpty(entity.description)}"><sg:markup text="${entity.description}" markup="${entity.descriptionMarkup}" /></div>

				<div class="sg-file-data sg-margin-top">
					<div class="row">
						<div class="col-xs-3"><strong th:text="#{field.filename}">File name</strong></div>
						<div class="col-xs-9"><code th:text="${entity.filename}">file.txt</code></div>
					</div>
					<div class="row">
						<div class="col-xs-3"><strong th:text="#{field.filesize}">Filesize</strong></div>
						<div class="col-xs-9"><sg:formatnumber number="${entity.fileSize}" format="'binary'" /></div>
					</div>
					<div class="row" th:unless="${#strings.isEmpty(entity.copyright)}">
						<div class="col-xs-3"><strong th:text="#{field.copyright}">Copyright</strong></div>
						<div class="col-xs-9" th:text="${entity.copyright}">copyright</div>
					</div>
					<div class="row" th:unless="${#strings.isEmpty(entity.location)}">
						<div class="col-xs-3"><strong th:text="#{field.location}">Location</strong></div>
						<div class="col-xs-9" th:text="${entity.location}">location</div>
					</div>
					<div class="row">
						<div class="col-xs-3"><strong th:text="#{field.indexFullTextShort}">Index?</strong></div>
						<div class="col-xs-9" th:unless="${#strings.isEmpty(entity.fullText)}"><i class="fa fa-check text-success"></i> <span th:text="#{field.indexFullTextOk}">full text?</span></div>
						<div class="col-xs-9" th:if="${#strings.isEmpty(entity.fullText)}"><i class="fa fa-times text-danger"></i> <span th:text="#{field.indexFullTextNo}">full text?</span></div>
					</div>
				</div>

				<div th:replace="partials/search :: withinFile (file=${entity}, uid=${entity.uid})"></div>

				<div th:if="${entity.fileIdentifier}" class="sg-margin-top sg-margin-bottom">
					<div th:if="${#strings.startsWith(entity.mimeType,'image/')}">
						<img src="#" th:src="@{/file/get/{uid}(uid=${entity.uid})}" alt="" th:alt-title="${entity.title}" style="width: 100%;" />
					</div>
					<div th:if="${entity.mimeType} == 'application/pdf'">
						<iframe src="../../../js/pdfjs/web/viewer.html" th:src="@{/js/pdfjs/web/viewer.html(file=@{/file/get/{uid}(uid=${entity.uid})})}" width="100%" height="400"></iframe>
					</div>
				</div>

				<div th:if="${entity.fileIdentifier}" class="text-center sg-margin-top sg-margin-bottom">
					<a href="#" th:href="@{/file/download/{uid}(uid=${entity.uid})}" class="btn btn-primary btn-lg" th:title="#{Download}"><i class="fa fa-download"></i> <span th:text="#{Download}"></span></a>
					<a th:if="${entity.mimeType} == 'application/pdf'" href="#" th:href="@{/js/pdfjs/web/viewer.html(file=@{/file/get/{uid}(uid=${entity.uid})})}" class="btn btn-default btn-lg sg-link-external" th:title="#{Open_Tab}"><i class="fa fa-external-link-square"></i> <span th:text="#{Open_Tab}"></span></a>
					<a th:if="${@org.segrada.rendering.thymeleaf.util.MimeTypeIsRenderable@isRenderable(entity.mimeType)}" href="#" th:href="@{/file/get/{uid}(uid=${entity.uid})}" class="btn btn-default btn-lg sg-link-external" th:title="#{Open_Tab}"><i class="fa fa-external-link-square"></i> <span th:text="#{Open_Tab}"></span></a>
				</div>

				<div th:replace="partials/common :: datafooter (entity=${entity})"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="node-ref" th:id="${'refs-by-file-' + entity.uid + '-node'}" th:if="${identity.hasAccess('NODE')}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="relation-ref" th:id="${'refs-by-file-' + entity.uid + '-relation'}" th:if="${identity.hasAccess('RELATION')}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="source-ref" th:id="${'refs-by-file-' + entity.uid + '-source'}" th:if="${identity.hasAccess('SOURCE')}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="source-rel-ref" th:id="${'sources-by-ref-' + entity.uid}" th:if="${identity.hasAccess('SOURCE_REFERENCE')}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="file-ref" th:id="${'files-by-ref-' + entity.uid}">
				<div th:replace="partials/common :: loadingicon"></div>
			</div>
		</div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>