<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="${entity.title}">Pictogram</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-data sg-closeable sg-pictogram" th:id="${'file-' + entity.uid}">
		<h4 class="sg-data-header" th:text="${entity.title}">File</h4>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>