<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="#{list.relation}">Relation</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-control-content sg-relation">
		<div class="pull-right">
			<a href="#" th:href="@{/relation/add} + (${#strings.isEmpty(addLinkParameter)}?'':${addLinkParameter})" th:title="#{add.relation}" class="btn btn-success btn-sm sg-data-add"><i class="fa fa-plus"></i></a>
		</div>

		<h4 class="sg-control-header"><i class="fa fa-chain"></i> <span th:text="#{list.relation}">List</span></h4>

		<p th:text="${#messages.msg('pagination', paginationInfo.page, paginationInfo.pages)}">Pages</p>

		<form method="get" action="#" th:action="@{${baseUrl}?${baseUrl}:'/relation'}" class="sg-control-form" th:attr="data-target-id=${targetId}">
			<table class="table table-hover table-striped table-condensed">
				<tr>
					<th class="text-center"><i class="fa fa-chain"></i></th>
					<th th:text="#{field.title}">Title</th>
					<th th:text="#{field.fromEntry}">Start</th>
					<th th:text="#{field.toEntry}">Stop</th>
					<th></th>
				</tr>
				<tr>
					<td class="text-center"><a class="sg-control-set btn btn-sm btn-link" href="#" th:href="@{${baseUrl}?${baseUrl}:'/relation'(reset=1)}" th:title="#{reset}" th:attr="data-target-id=${targetId}"><i class="fa fa-eraser"></i></a></td>
					<td><!--/*<input type="text" class="form-control" th:value="${filters.search}" name="search" th:placeholder="#{field.filter_title}" title="#{field.filter_title}" />*/--></td>
					<td><input type="text" class="form-control" th:value="${filters.minEntry}" name="minEntry" title="Start" th:title="#{field.fromEntry}" /></td>
					<td><input type="text" class="form-control" th:value="${filters.maxEntry}" name="maxEntry" title="Stop" th:title="#{field.toEntry}" /></td>
					<!--/*<td>
						<select multiple="multiple" type="text" name="tags" class="sg-tags">
							<option th:each="tag : ${filters.tags}" selected="selected" th:value="${tag}" th:text="${tag}">Tag</option>
						</select>
					</td>*/-->
					<td class="text-right"><button type="submit" class="btn btn-info btn-sm" th:text="#{SubmitFilter}">Filter</button></td>
				</tr>
				<tr th:each="entity : ${paginationInfo.entities}" th:attr="data-data-dblclick=@{/relation/show/{uid}(uid=${entity.uid})}">
					<td class="text-center">
						<span class="sg-color-icon" th:style="'background-color: ' + ${entity.colorCode}" th:if="${entity.color}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<img src="#" th:src="@{/pictogram/file/{uid}(uid=${entity.pictogram.uid})}" th:alt-title="${entity.pictogram.title}" alt="" width="24" height="24" th:if="${entity.pictogram}"/>
					</td>
					<td th:text="${entity.title}">Title</td>
					<td th:text="${!#strings.isEmpty(entity.minEntry)}?${entity.minEntry}:'---'">Start</td>
					<td th:text="${!#strings.isEmpty(entity.maxEntry)}?${entity.maxEntry}:'---'">Stop</td>
					<td class="text-right">
						<div class="sg-data-icon-bar" role="group" aria-label="Actions">
							<a class="sg-data-icon sg-data-add" href="#" th:title="#{Show}" th:href="@{/relation/show/{uid}(uid=${entity.uid})}"><i class="fa fa-eye"></i></a>
							<a class="sg-data-icon sg-data-add" href="#" th:title="#{Edit}" th:href="@{/relation/edit/{uid}(uid=${entity.uid})}"><i class="fa fa-pencil"></i></a>
							<a class="sg-data-icon" href="#" th:title="#{Delete}" th:href="@{/relation/delete/{uid}/0(uid=${entity.uid})}" th:attr="data-confirm=${#messages.msg('ReallyDelete', entity.title)}"><i class="fa fa-times-circle-o"></i></a>
						</div>
					</td>
				</tr>
			</table>
		</form>

		<div th:replace="partials/pagination :: pagination (paginationInfo=${paginationInfo},base=${baseUrl}?${baseUrl}:'/relation',targetId=${targetId})"></div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>