<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="#{add.pictogram}">Create New Pictogram</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>

<div class="container">
	<div class="sg-data sg-pictogram" th:with="tempId=${#strings.isEmpty(entity.uid)}?${#strings.randomAlphanumeric(10)}:${entity.uid}" th:id="${'pictogram-' + tempId}">
		<div class="sg-headbox-right">
			<a href="#" type="button" class="close sg-data-close" aria-label="Edit"><i class="fa fa-times"></i></a>
			<a href="#" th:unless="${isNewEntity}" th:href="@{/pictogram/show/{uid}(uid=${entity.uid})}" type="button" class="sg-data-add sg-data-icon" aria-label="Show"><i class="fa fa-eye"></i></a>
		</div>
		<h4 class="sg-data-header" th:text="#{add.pictogram}" th:if="${isNewEntity}">Create New</h4>
		<h4 class="sg-data-header" th:text="#{ChangeTitle(#{Pictogram}, ${entity.title})}" th:unless="${isNewEntity}">Change Existing</h4>

		<form method="post" action="#" th:action="@{/pictogram/update}" th:object="${entity}" class="form-horizontal sg-data-form sg-data-content" th:attr="data-id=${'pictogram-' + tempId}" enctype="multipart/form-data">
			<input type="hidden" name="_csrf" th:value="${_csrf}" />

			<div th:replace="partials/form :: formTextfield (name='title',field=${entity.title},label=#{field.title},id=${tempId},errors=${errors},required=true)"></div>

			<div class="form-group" th:classappend="${errors}?(${#maps.containsKey(errors, 'uploadedImage')}?'has-error has-feedback')">
				<label class="col-sm-2 control-label" th:text="#{field.fileImage}">Upload Image</label>
				<div class="col-sm-10 sg-fileupload-small" th:with="tempUploadId=${#strings.randomAlphanumeric(10)}">
					<input th:attr="data-id=${tempUploadId}" type="file" class="sg-fileupload-small" name="uploadedImage" accept="image/png,image/jpeg,image/gif,image/svg+xml" />
					<span class="help-block" th:text="${errors}?(${errors.uploadedImage}?${#messages.msg(errors.uploadedImage)})">Error</span>
				</div>
			</div>

			<input type="hidden" name="id" th:value="${entity.id}" th:if="${entity.id}" />

			<div th:replace="partials/form :: submit (isNewEntity=${isNewEntity})"></div>
		</form>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>