<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="#{list.pictogram}">Pictogram</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-control-content sg-pictogram">
		<div class="pull-right" th:if="${identity.hasAccess('PICTOGRAM_ADD')}">
			<a href="#" th:href="@{/pictogram/add}" th:title="#{add.pictogram}" class="btn btn-success btn-sm sg-data-add"><i class="fa fa-plus"></i></a>
		</div>

		<h4 class="sg-control-header"><i class="fa fa-university"></i> <span th:text="#{list.pictogram}">List</span></h4>

		<p th:text="${#messages.msg('showEntities', entities.size())}">Size</p>

		<table class="table table-hover table-striped table-condensed">
			<tr>
				<th th:text="#{field.title}">Name</th>
				<th th:text="#{field.pictogram}" class="text-center">Icon</th>
				<th></th>
			</tr>
			<tr th:each="entity : ${entities}" th:attr="data-data-dblclick=@{/pictogram/show/{uid}(uid=${entity.uid})}">
				<td th:text="${entity.title}">Name</td>
				<td class="text-center"><img src="#" th:src="@{/pictogram/file/{uid}(uid=${entity.uid})}" th:alt-title="${entity.title}" alt="" width="24" height="24" /></td>
				<td class="text-right">
					<div class="sg-data-icon-bar" role="group" aria-label="Actions" sg:strip-whitespace>
						<a class="sg-data-icon sg-data-add" href="#" th:title="#{Show}" th:href="@{/pictogram/show/{uid}(uid=${entity.uid})}"><i class="fa fa-eye"></i></a>
						<a th:if="${identity.hasEditAccess(entity, 'PICTOGRAM')}" class="sg-data-icon sg-data-add" href="#" th:title="#{Edit}" th:href="@{/pictogram/edit/{uid}(uid=${entity.uid})}"><i class="fa fa-pencil"></i></a>
						<a th:if="${identity.hasDeleteAccess(entity, 'PICTOGRAM')}" class="sg-data-icon" href="#" th:title="#{Delete}" th:href="@{/pictogram/delete/{uid}/0(uid=${entity.uid})}" th:attr="data-confirm=${#messages.msg('ReallyDelete', entity.title)}"><i class="fa fa-times-circle-o"></i></a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>