<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="${entity.title}">Pictogram</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-data sg-pictogram" th:id="${'pictogram-' + entity.uid}">
		<div th:replace="partials/common :: headerboxright (type=#{Pictogram},base='pictogram',uid=${entity.uid})"></div>
		<h4 class="sg-data-header"><span class="fa fa-university" th:title="#{Pictogram}"></span> <img src="#" th:src="@{/pictogram/file/{uid}(uid=${entity.uid})}" th:alt-title="${entity.title}" alt="" width="24" height="24" /> <span th:text="${entity.title}">Pictogram</span></h4>

		<!--TODO: show all relation types, files, comments, sources, relations and nodes with this pictogram -->

		<div th:replace="partials/common :: datafooter (entity=${entity})"></div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>