<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="#{Search}">Search</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container" th:fragment="content">
	<h4 class="sg-control-header"><i class="fa fa-search"></i> <span th:text="#{Search_Results}">Search Results</span></h4>

	<div th:text="${searchResult.totalHits}"></div>

	<div><span th:text="${searchResult.startIndex}"></span> &ndash; <span th:text="${searchResult.stopIndex}"></span></div>

	<div th:each="hit : ${searchResult.hits}" class="sg-search-list">
		<p><strong th:text="${hit.title}">Title</strong></p>
		<p th:text="${hit.subTitles}" th:if="${hit.subTitles}">subTitles</p>

		<a href="#" th:href="@{'/' + ${#strings.toLowerCase(hit.className)} + '/show/{id}'(id=${hit.id})}" class="sg-data-add"><i class="fa fa-eye"></i></a>

		<div th:if="${hit.highlightText}">
			&hellip; <span th:each="highlightText : ${hit.highlightText}" th:utext="${highlightText + ' &hellip; '}"></span>
		</div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>