<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="#{Search}">Search</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>

<div class="container" th:fragment="content">
	<div class="sg-control-content sg-search">
		<h4 class="sg-control-header"><i class="fa fa-search"></i> <span th:text="#{Search_Results}">Search Results</span></h4>

		<form method="get" action="#" th:action="@{${baseUrl}?${baseUrl}:'/search'}" class="sg-control-form" th:attr="data-target-id=${targetId}">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="searchDetailText" th:text="#{SearchTerm}">Search term</label>
						<input type="text" class="form-control" id="searchDetailText" name="s" th:placeholder="#{SearchTerm}" th:value="${searchTerm}" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="searchDetailOperator" th:text="#{SearchOR}">SearchOR</label>
						<input type="checkbox" class="form-control" id="searchDetailOperator" name="operator" value="or" th:checked="${filters.operator == 'or'}" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="searchDetailSubmit"></label>
						<input type="submit" class="form-control btn btn-primary" id="searchDetailSubmit" value="Search" th:value="#{Search}" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label for="searchDetailFields" th:text="#{SearchFields}">Search in fields</label>
						<select id="searchDetailFields" name="fields" class="form-control">
							<option value="" th:text="#{SearchFields.all}">all</option>
							<option value="allTitles" th:text="#{SearchFields.allTitles}" th:selected="${filters.fields == 'allTitles'}">allTitles</option>
							<option value="content" th:text="#{SearchFields.content}" th:selected="${filters.fields == 'content'}">content</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="searchDetailClass" th:text="#{SearchClass}">Search in type</label>
						<select id="searchDetailClass" name="class" class="form-control">
							<option value="" th:text="#{SearchClass.all}">all</option>
							<option th:each="clazz : ${searchClasses}" th:if="${identity.hasAccess(#strings.toUpperCase(clazz))}" th:value="${clazz}" th:selected="${filters.class == clazz}" th:text="#{${clazz}}">Class</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="searchDetailLimit" th:text="#{entriesPerPage}">entriesPerPage</label>
						<select id="searchDetailLimit" name="limit" class="form-control">
							<option value="5" th:selected="${paginationInfo.entriesPerPage == 5}">5</option>
							<option value="10" th:selected="${paginationInfo.entriesPerPage == 10}">10</option>
							<option value="20" th:selected="${paginationInfo.entriesPerPage == 20}">20</option>
							<option value="50" th:selected="${paginationInfo.entriesPerPage == 50}">50</option>
							<option value="100" th:selected="${paginationInfo.entriesPerPage == 100}">100</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row" th:if="${identity.hasAccess('TAG')}">
				<div class="col-md-12">
					<div class="form-group">
						<label for="searchDetailTags" th:text="#{Tags}">Tags</label>
						<select multiple="multiple" type="text" id="searchDetailTags" name="tags" class="sg-tags">
							<option th:if="${tags}" th:each="tag : ${tags}" selected="selected" th:value="${tag}" th:text="${tag}">Tag</option>
						</select>
					</div>
				</div>
			</div>
		</form>


		<p th:text="${#messages.msg(paginationInfo.key(), paginationInfo.page, paginationInfo.pages, paginationInfo.total)}">Pages</p>

		<table class="table table-hover table-striped table-condensed sg-search-list">
			<tr th:each="hit : ${paginationInfo.entities}" th:attr="data-data-dblclick=@{/{model}/show/{uid}(model=${#strings.toLowerCase(hit.className)},uid=${hit.id})}">
				<td class="text-center col-xs-1">
					<span class="sg-color-icon" th:style="'background-color: ' + ${hit.colorCode}" th:if="${hit.color}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<img src="#" th:src="@{/pictogram/by_ref(ref=${hit.iconFileIdentifier})}" alt="" width="24" height="24" th:if="${hit.iconFileIdentifier}"/>
				</td>
				<td>
					<div class="sg-search-entry-title">
						<span th:replace="partials/common :: faIcon (modelName=${hit.className})"></span>
						<span th:text="${hit.title}" th:if="${hit.title}">Header</span>
						<span th:text="#{${hit.className}}" th:unless="${hit.title}">Class name</span>
					</div>
					<!-- TODO: comments etc. should get a generic header -->
					<div  th:text="${hit.subTitles}" th:if="${hit.subTitles}" class="small text-muted">subTitles</div>

					<div th:unless="${#arrays.isEmpty(hit.highlightText)}" class="small">
						&hellip; <span th:each="highlightText : ${hit.highlightText}" th:utext="${highlightText + ' &hellip; '}"></span>
					</div>
				</td>
				<td class="text-right col-xs-1">
					<a class="sg-data-icon sg-data-add" href="#" th:title="#{Show}" th:href="@{/{model}/show/{uid}(model=${#strings.toLowerCase(hit.className)},uid=${hit.id})}"><i class="fa fa-eye"></i></a>
				</td>
			</tr>
		</table>

		<div th:replace="partials/pagination :: searchPagination (paginationInfo=${paginationInfo},base=${baseUrl}?${baseUrl}:'/search',targetId=${targetId},s=${searchTerm},fields=${filters.fields},operator=${filters.operator},class=${filters.class},tags=${filters.tags},limit=${filters.limit})"></div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>