<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title th:text="#{add.userGroup}">Create New User Group</title>
    <div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>

<div class="container">
    <div class="sg-data sg-user-group" th:with="tempId=${#strings.isEmpty(entity.uid)}?${#strings.randomAlphanumeric(10)}:${entity.uid}" th:id="${'user-group-' + tempId}">
        <div class="sg-headbox-right">
            <a href="#" type="button" class="close sg-data-close" aria-label="Edit"><i class="fa fa-times"></i></a>
            <a href="#" th:unless="${isNewEntity}" th:href="@{/user_group/show/{uid}(uid=${entity.uid})}" type="button" class="sg-data-add sg-data-icon" aria-label="Show"><i class="fa fa-eye"></i></a>
        </div>
        <h4 class="sg-data-header" th:text="#{add.userGroup}" th:if="${isNewEntity}">Create New</h4>
        <h4 class="sg-data-header" th:text="#{ChangeTitle(#{UserGroup}, ${entity.title})}" th:unless="${isNewEntity}">Change Existing</h4>

        <form method="post" action="#" th:action="@{/user_group/update}" th:object="${entity}" class="form-horizontal sg-data-form sg-data-content" th:attr="data-id=${'user-group-' + tempId}">
            <input type="hidden" name="_csrf" th:value="${_csrf}" />

            <div th:replace="partials/form :: formTextfield (name='title',field=${entity.title},label=#{field.title},id=${tempId},errors=${errors},required=true)"></div>

            <div th:replace="partials/form :: formTextarea (name='description',field=${entity.description},label=#{field.description},id=${tempId},rows=3,errors=${errors},required=false)"></div>

            <div class="col-sm-offset-2 col-sm-10"><h4 th:text="#{field.privileges}">Privileges</h4></div>

            <div class="form-group" th:each="privilege : ${privileges}">
                <label class="col-sm-2 control-label" th:text="#{${privilege.key}}">Privilege</label>
                <div class="col-sm-10 form-pad">
                    <label th:each="name : ${privilege.value}" th:for="${'privilege-' + name + '-' + entity.uid}" th:title="#{${'privilege.' + privilegesTranslation.get(name) + '.hint'}}">
                        <input th:unless="${noHiddenField}" th:name="${'privilege.' + name}" type="hidden" value="0" />
                        <input th:id="${'privilege-' + name + '-' + id}" th:name="${'privilege.' + name}" type="checkbox" th:checked="${entity.hasRole(name)}" value="1" /> <span th:text="#{${'privilege.' + privilegesTranslation.get(name)}}">Privilege</span>
                    </label>
                </div>
            </div>

            <input type="hidden" name="id" th:value="${entity.id}" th:if="${entity.id}" />

            <div th:replace="partials/form :: submit (isNewEntity=${isNewEntity})"></div>
        </form>
    </div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>