<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title th:text="#{list.userGroups}">User Groups</title>
    <div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>

<div class="container">
    <div class="sg-control-content sg-user-group">
        <div class="pull-right" th:if="${identity.hasAccess('ADMIN')}">
            <a href="#" th:href="@{/user_group/add}" th:title="#{add.userGroup}" class="btn btn-success btn-sm sg-data-add"><i class="fa fa-plus"></i></a>
        </div>

        <h4 class="sg-control-header"><i class="fa fa-users"></i> <span th:text="#{list.userGroups}">List</span></h4>

        <p th:text="${#messages.msg('showEntities', entities.size())}">Size</p>

        <table class="table table-hover table-striped table-condensed">
            <tr>
                <th th:text="#{field.title}">Title</th>
                <th th:text="#{field.special}">Special Type</th>
                <th></th>
            </tr>
            <tr th:each="entity : ${entities}" th:attr="data-data-dblclick=@{/user_group/show/{uid}(uid=${entity.uid})}">
                <td th:text="${entity.title}">Title</td>
                <td><i class="fa fa-gavel" th:if="${entity.special == 'ADMIN'}" th:title="#{Administrator}"></i><i class="fa fa-user-secret" th:if="${entity.special == 'ANONYMOUS'}" th:title="#{Anonymous}"></i></td>
                <td class="text-right">
                    <div class="sg-data-icon-bar" role="group" aria-label="Actions" sg:strip-whitespace>
                        <a class="sg-data-icon sg-data-add" href="#" th:title="#{Show}" th:href="@{/user_group/show/{uid}(uid=${entity.uid})}"><i class="fa fa-eye"></i></a>
                        <a th:if="${identity.hasEditAccess(entity, 'ADMIN')}" class="sg-data-icon sg-data-add" href="#" th:title="#{Edit}" th:href="@{/user_group/edit/{uid}(uid=${entity.uid})}"><i class="fa fa-pencil-alt"></i></a>
                        <a th:if="${identity.hasDeleteAccess(entity, 'ADMIN')}" th:unless="${entity.special}" class="sg-data-icon" href="#" th:title="#{Delete}" th:href="@{/user_group/delete/{uid}/0(uid=${entity.uid})}" th:attr="data-confirm=${#messages.msg('ReallyDelete', entity.title)}"><i class="fa fa-times-circle"></i></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>