<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="${entity.title}">Saved Query</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>

<div class="container">
	<div class="sg-data sg-saved-query" th:id="${'saved-query-' + entity.uid}">
		<div th:replace="partials/common :: headerboxright (type=#{SavedQuery},base='saved_query',entity=${entity},access='GRAPH')"></div>
		<h4 class="sg-data-header"><span class="fa fa-shapes" th:title="#{SavedQuery}"></span> <span th:text="${entity.title}">Saved Query</span></h4>

		<div class="sg-description well well-sm" th:unless="${#strings.isEmpty(entity.description)}"><span sg:nl2br="${entity.description}">Description</span></div>

		<div th:if="${entity.type == 'graph'}">
			<p><a href="#" th:href="@{/saved_query/graph/{uid}(uid=${entity.uid})}" class="btn btn-primary sg-graph-replace" th:attr="data-title=${entity.title},data-uid=${entity.uid}"><span class="fa fa-project-diagram" aria-hidden="true"></span> <span th:text="#{LoadGraph}">Load Graph</span></a></p>

			<p><a href="#" th:href="@{/saved_query/export/{uid}(uid=${entity.uid})}" class="btn btn-primary"><span class="fa fa-download" aria-hidden="true"></span> <span th:text="#{ExportGraph}">Export Graph</span></a></p>
		</div>

		<div th:if="${entity.type == 'query'}">
			<h4 th:text="#{Results}">Results</h4>

			<div class="panel-group" th:id="${'accordeon-' + entity.uid}" role="tablist">
				<div th:if="${results.containsKey('Node')}" class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" th:attr="data-parent=${'accordeon-' + entity.uid}" th:href="${'#accordeon-nodes-' + entity.uid}" th:text="${#messages.msg('NodesX', results.get('Node').size())}">
								Nodes
							</a>
						</h4>
					</div>
					<div th:id="${'accordeon-nodes-' + entity.uid}" class="panel-collapse collapse">
						<div class="panel-body">
							<ul class="list-group" style="margin-bottom: 0">
								<li th:each="node : ${results.get('Node')}" class="list-group-item">
									<a th:href="@{/node/show/{uid}(uid=${node.uid})}" th:text="${node.title}" class="sg-data-add">
										title
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div th:if="${results.containsKey('Source')}" class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" th:attr="data-parent=${'accordeon-' + entity.uid}" th:href="${'#accordeon-sources-' + entity.uid}" th:text="${#messages.msg('SourcesX', results.get('Source').size())}">
								Sources
							</a>
						</h4>
					</div>
					<div th:id="${'accordeon-sources-' + entity.uid}" class="panel-collapse collapse">
						<div class="panel-body">
							<ul class="list-group" style="margin-bottom: 0">
								<li th:each="source : ${results.get('Source')}" class="list-group-item">
									<a th:href="@{/source/show/{uid}(uid=${source.uid})}" th:text="${source.shortTitle}" class="sg-data-add">
										title
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div th:if="${results.containsKey('File')}" class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" th:attr="data-parent=${'accordeon-' + entity.uid}" th:href="${'#accordeon-files-' + entity.uid}" th:text="${#messages.msg('FilesX', results.get('File').size())}">
								Files
							</a>
						</h4>
					</div>
					<div th:id="${'accordeon-files-' + entity.uid}" class="panel-collapse collapse">
						<div class="panel-body">
							<ul class="list-group" style="margin-bottom: 0">
								<li th:each="file : ${results.get('File')}" class="list-group-item">
									<a th:href="@{/file/show/{uid}(uid=${file.uid})}" th:text="${file.title}" class="sg-data-add">
										title
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<p><a href="#" th:href="@{/saved_query/{uid}?dl=1(uid=${entity.uid})}" class="btn btn-primary"><span class="fa fa-download" aria-hidden="true"></span> JSON</a></p>
		</div>

		<div th:replace="partials/common :: datafooter (entity=${entity})"></div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>