<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title th:text="${entity.title}">Saved Query</title>
	<div th:include="partials/common :: head" th:remove="tag"></div>
</head>

<body>
<div th:replace="partials/common :: browser"></div>

<div class="container">
	<div class="sg-data sg-saved-query" th:id="${'saved-query-' + entity.uid}">
		<div th:replace="partials/common :: headerboxright (type=#{SavedQuery},base='saved_query',entity=${entity},access='GRAPH')"></div>
		<h4 class="sg-data-header"><span class="fa fa-thumb-tack" th:title="#{SavedQuery}"></span> <span th:text="${entity.title}">Saved Query</span></h4>

		<div class="sg-description well well-sm" th:unless="${#strings.isEmpty(entity.description)}"><span sg:nl2br="${entity.description}">Description</span></div>

		<p th:if="${entity.type == 'graph'}"><a href="#" th:href="@{/saved_query/graph/{uid}(uid=${entity.uid})}" class="btn btn-primary sg-graph-replace"><span class="fa fa-share-alt" aria-hidden="true"></span> <span th:text="#{LoadGraph}">Load Graph</span></a></p>

		<!--/*TODO Export to Gephi and Graphviz */-->
		<div th:replace="partials/common :: datafooter (entity=${entity})"></div>
	</div>
</div>

<div th:replace="partials/common :: footer"></div>
</body>
</html>